<!DOCTYPE html>
<html>
<body>

<h2>User Forms</h2>

<form enctype="multipart/form-data" method="POST">{{form.csrf_token}}
  First name:<br>
  {{ form.firstname }}<br>
  Last name:<br>
  {{ form.lastname }}<br>
  Age<br>
  {{ form.age }}<br>
  <input type="submit" value="Submit">
</form> 

<form action="{{ url_for('search') }}" method="GET">
    <input id="search_firstname" type="search" name="search_firstname">
    <input id="search_age" type="search" name="search_age">
    <input class="button" type="button" value="search">
</form>

<div>
{% for user in users %}
        <span>{{user.firstname}}</span>
{% endfor %}
</div>

</body>
</html>